<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <h1>Word Scramble!</h1>
        <p class="lead">A word scramble page based on the MEAN stack. <br /><small>Designed by Brian Mitchell (<a id="twitterName" href="https://twitter.com/bman4789" title="@bman4789">@bman4789</a>)</small></p>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>You {{ verb }} like a {{ adj }} {{ noun }}.</h3>
            <button class="btn btn-primary" type="button" ng-click="makeSentence()">Generate Sentence</button>
            <h3>Add new Words:</h3>
            <form class="form-inline" role="form" ng-submit="addVerb()">
                <div class="form-group">
                    <label class="sr-only" for="verb">Verb</label>
                    <input class="form-control" id="verb" type="text" ng-model="newVerb" placeholder="Verb">
                    <input class="btn btn-default" type="submit" value="Add Verb">
                </div>
            </form>
            <form class="form-inline" role="form" ng-submit="addAdjective()">
                <div class="form-group">
                    <label class="sr-only" for="adjective">Adjective</label>
                    <input class="form-control" id="adjective" type="text" ng-model="newAdjective" placeholder="Adjective">
                    <input class="btn btn-default" type="submit" value="Add Adjective">
                </div>
            </form>
            <form class="form-inline" role="form" ng-submit="addNoun()">
                <div class="form-group">
                    <label class="sr-only" for="noun">Noun</label>
                    <input class="form-control" id="noun" type="text" ng-model="newNoun" placeholder="Noun">
                    <input class="btn btn-default" type="submit" value="Add Noun">
                </div>
            </form>
            <h3>Delete Words</h3>
            <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle List of Words</button>
            <hr>
            <div collapse="isCollapsed">
                <table class="table well">
                    <thead>
                    <tr>
                        <th>Word</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="word in words">
                        <td>
                            {{word.name}}
                        </td>
                        <td>
                            <button class="btn btn-xs btn-danger" ng-click="deleteWord(word)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<footer class="footer">
    <div class="container">
        <p>
            © 2014 Brian Mitchell<br />
            Built with Angular Fullstack<br />
            <a href="https://github.com/bman4789/">github.com/bman4789</a><br />
            <a href="https://twitter.com/tech4789/">twitter.com/tech4789</a><br />
            <a href="https://www.linkedin.com/in/brianscottmitchell">linkedin.com/in/brianscottmitchell</a>
        </p>
    </div>
</footer>
