.share a {
  font-size: 3em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.share a:hover {
  text-decoration: none;
  color: #FF6F00;
  opacity: 0.7;
}
