<md-toolbar layout="row">
  <md-button ng-click="toggleLeft()" hide-gt-sm class="menuBtn" aria-label="toggle sidebar">
    <i class="fa fa-bars"></i>
  </md-button>
    <h1>{{title}}</h1>
</md-toolbar>

<div layout="row" flex>
  <md-sidenav ng-include="'components/sidebar/sidebar.html'" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-sm')"></md-sidenav>

  <div layout="column" flex class="content-wrapper" id="content">
    <md-content layout="column" flex class="md-padding" layout-fill layout-align="center center">
      <h1><a href="/posts">Recent Blog Posts</a></h1>
      <ul class="list-unstyled">
        <li ng-repeat="post in posts">
          {{post.date}}&#32;&raquo;&#32;<a ng-href="/posts/{{post.slug}}">{{post.title}}</a>&#32;<small>{{post.description}}</small>
        </li>
      </ul>
    </md-content>
    <footer flex ng-include="'components/footer/footer.html'"></footer>
  </div>
</div>
