<md-toolbar layout="row">
  <md-button ng-click="toggleLeft()" hide-gt-md class="menuBtn" aria-label="toggle sidebar">
    <i class="fa fa-bars"></i>
  </md-button>
  <h1>{{title}}</h1>
</md-toolbar>

<div layout-gt-md="row" layout="column" layout-margin>
  <div flex="70">
    <md-list>
      <md-item>
        <md-item-content class="dashed-bottom">
          <div flex="60" layout-align="left center">
            <h2>Movie</h2>
          </div>
          <div flex="20" layout-align="left center">
            <h2>Rating</h2>
          </div>
          <div flex="20" layout-align="left center">
            <h2>Action</h2>
          </div>
        </md-item-content>
      </md-item>
      <md-item ng-repeat="movie in movieList | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
        <md-item-content>
          <div flex="60">
            <h3>{{movie.name}}</h3>
          </div>
          <div flex="20">
            <h4 ng-if="!movie.isEditing">{{movie.rating}}</h4>
            <h4 ng-if="movie.isEditing"><input type="number" max="10" min="1" ng-model="movie.rating" placeholder="Movie Rating (1-10)"></h4>
          </div>
          <div flex="20">
            <h4 ng-if="movie.isEditing"><md-button class="md-raised" ng-click="updateMovie(movie)">Save</md-button></h4>
            <h4 ng-if="!movie.isEditing"><md-button class="md-raised" ng-click="editMovie(movie)">Edit</md-button> <md-button class="md-raised" ng-click="deleteMovie(movie)">Delete</md-button></h4>
          </div>
        </md-item-content>
      </md-item>
    </md-list>
    <ul layout="row" layout-align="center center" class="list-inline list-unstyled">
      <li><md-button class="md-raised" ng-hide="pagination.page == 0" ng-click="pagination.prevPage()">&laquo; Previous</md-button></li>
      <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
        <md-button class="md-raised" ng-click="pagination.toPageId(n)">{{n + 1}}</md-button>
      </li>
      <li><md-button class="md-raised" ng-hide="pagination.page + 1 >= pagination.numPages" ng-click="pagination.nextPage()">Next &raquo;</md-button></li>
    </ul>
  </div>
  <div flex>
    <h3>Add a New Movie:</h3>
    <md-input-container>
      <label>Movie Title</label>
      <input type="text" ng-model="newMovie">
    </md-input-container>
    <md-input-container>
      <label>Movie Rating (1-10)</label>
      <input type="number" max="10" min="1" ng-model="newRating">
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="addMovie()">Add</md-button>
  </div>
</div>

<footer ng-include="'components/footer/footer.html'"></footer>
