<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <h1>Movies!</h1>
        <p class="lead">A movie rating site based on the MEAN stack. <br /><small>Designed by Brian Mitchell (<a id="twitterName" href="https://twitter.com/bman4789" title="@bman4789">@bman4789</a>)</small></p>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Movies:</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="movie in movieList">
                        <td ng-if="movie.isEditing">
                            <input class="form-control input-sm" type="text" size="30" ng-model="movie.name" placeholder="Movie Name">
                        </td>
                        <td ng-if="movie.isEditing">
                            <input class="form-control input-sm" type="number" max="10" min="1" ng-model="movie.rating" placeholder="Movie Rating (1-10)">
                        </td>
                        <td ng-if="movie.isEditing">
                            <button class="btn btn-xs btn-success" ng-click="updateMovie(movie)">Save</button>
                        </td>
                        <td ng-if="!movie.isEditing">
                            {{movie.name}}
                        </td>
                        <td ng-if="!movie.isEditing">
                            {{movie.rating}}
                        </td>
                        <td ng-if="!movie.isEditing">
                            <button class="btn btn-xs btn-primary" ng-click="editMovie(movie)">Edit</button> <button class="btn btn-xs btn-danger" ng-click="deleteMovie(movie)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <h3>Add A new Movie:</h3>
            <form role="form" ng-submit="addMovie()">
                <label for="newMovieName">New Movie Name</label>
                <input class="form-control" id="newMovieName" type="text" ng-model="newMovie" size="30"placeholder="New Movie Name">
                <label for="newMovieRating">New Movie Rating</label>
                <input class="form-control" id="newMovieRating" type="number" max="10" min="1" ng-model="newRating" placeholder="New Movie Rating (1-10)">
                <input class="btn btn-primary" type="submit" value="Add">
            </form>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p>Built with Angular Fullstack |
            <a href="https://github.com/bman4789/YeoMEAN/">GitHub</a></p>
    </div>
</footer>