<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <h1>Movies!</h1>
        <p class="lead">A sweet movie rating site!</p>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Movies:</h1>
            <ul ng-repeat="movie in movieList">
                <li>{{movie.name}}, Rating: {{movie.rating}}</a></li>
            </ul>
            <form ng-submit="addMovie()">
                <input type="text" ng-model="newMovie" size="30"
                       placeholder="add movie name here">
                <input type="number" max="10" ng-model="newRating">
                <input class="btn-primary" type="submit" value="add">
            </form>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p>Angular Fullstack v2.0.13 |
            <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
            <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
    </div>
</footer>
